doctype 5
html
	head
		title test
		link(rel='stylesheet',href='/components/jasmine/lib/jasmine-core/jasmine.css')
	body
		script(src='/components/jasmine/lib/jasmine-core/jasmine.js')
		script(src='/components/jasmine/lib/jasmine-core/jasmine-html.js')
		script(src='/components/jquery/jquery.min.js')
		script(src='/scripts/jquery.likapad.js')
		script(src='/scripts/test.js')
